# Logs
logs
*.log
npm-debug.log*

# Dependency directories
node_modules/
jspm_packages/

# dotenv environment variables file
.env

# System Files
.DS_Store
Thumbs.db

# WIP
React/
wip/
observer_pattern/